.button-card {
	width: 150px;
	height: 100px;
	background: #f2b179;
	color: #f9f6f2;
	border-radius: 20px;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	font-size: 16pt;
	letter-spacing: 1.5pt;
}

.button-card:hover {
	background: #776e65;
}

.button-card div {
	display: flex;
	flex: 1 100%;
	margin: 5px;
	justify-content: center;
}

@media screen and (max-width: 500px) {
	.button-card {
		width: 110px;
		height: 70px;
		border-radius: 7px;
		font-size: 12pt;
		letter-spacing: 2pt;
	}
}
