.game-over-card {
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

.game-over-card h1 {
	font-size: 40pt;
	flex: 1 100%;
	text-align: center;
	margin: 80px;
}

@media screen and (max-width: 500px) {
	.game-over-card h1 {
		font-size: 24pt;
		margin: 48px;
	}
}
