.game-container {
	position: relative;
	width: 500px;
	height: 500px;
	background: #bbada0;
	border-radius: 2%;
	z-index: -1;
}

.tile-container {
	position: relative;
	top: 16px;
	left: 16px;
	display: flex;
	width: 468px;
	height: 468px;
	z-index: -1;
}
