.score-card {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: 5px;
	width: 150px;
	height: 60px;
	font-size: 10pt;
	letter-spacing: 1pt;
	border-radius: 10px;
	background: #b7aca1;
	color: #eae6e1;
}

.score-card div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 100%;
}

.points {
	color: white;
	font-size: 20pt;
}

@media screen and (max-width: 500px) {
	.score-card {
		width: 130px;
		height: 30px;
		border-radius: 10px;
		letter-spacing: 1pt;
		font-size: 10pt;
		margin: 3px;
	}

	.score-card div {
		flex: 1 auto;
	}

	.points {
		font-size: 15pt;
	}
}
